<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Book Notes</title>
  <link rel="stylesheet" href="/index.css"> <!-- Link to external CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <header>
    <h1><a href="/">📚 ChapterBloom</a></h1>
    <nav>
      <!-- Simple navigation bar -->
      <a href="/">Home</a>
      <a href="/add">Add New Book</a>
      <a href="/shared">View Shared Books</a>
      <a href="/signup" class="sign">Sign Up</a>
      <a href="/login" class="log">Login</a>
    </nav>
  </header>
  <main>
