<%- include('partials/header') %>

<form action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username" required>
    <label>Password:</label>
    <input type="password" name="password" required>
    <button type="submit" id="log">Login</button>
  </form>
  <a href="/auth/google" class="google-signin"><i class="fab fa-google"></i>
    Continue With Google</a>
  <script>
    const form = document.querySelector("form");
  const addButton = document.getElementById("log"); // Matching the button's ID
  const loadingMessage = document.getElementById("loadingMessage");
   
    form.addEventListener("submit", function (event) {
      // Disable the button to prevent multiple submissions
      addButton.disabled = true;
      addButton.textContent = "Logging In....";  // Optional: Change the button text
      loadingMessage.style.display = "block"; // Show loading message
  
      
    });
  </script>

  <%- include('partials/footer') %>
  